body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-weight: normal;
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 50px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}


.Top-container {
  background-color: #fff4e3;
  position: relative;
  padding-top: 100px;
}


.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.pro {
  width: 300px;
  height: 300px;
}

.intro {
  width: 30%;
  margin: auto;
}

.skill-row {

  text-align: left;
  width: 50%;
  margin: 200px auto 200px auto;
}

.ux {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.digital-campaign {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.middle-container {
  margin: 100px 0;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.76rem;
  padding: 20px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.btn {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #11cdd4), color-stop(1, #11999e));
	background:-moz-linear-gradient(top, #11cdd4 5%, #11999e 100%);
	background:-webkit-linear-gradient(top, #11cdd4 5%, #11999e 100%);
	background:-o-linear-gradient(top, #11cdd4 5%, #11999e 100%);
	background:-ms-linear-gradient(top, #11cdd4 5%, #11999e 100%);
	background:linear-gradient(to bottom, #11cdd4 5%, #11999e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#11cdd4', endColorstr='#11999e',GradientType=0);
	background-color:#11cdd4;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #11999e), color-stop(1, #11cdd4));
	background:-moz-linear-gradient(top, #11999e 5%, #11cdd4 100%);
	background:-webkit-linear-gradient(top, #11999e 5%, #11cdd4 100%);
	background:-o-linear-gradient(top, #11999e 5%, #11cdd4 100%);
	background:-ms-linear-gradient(top, #11999e 5%, #11cdd4 100%);
	background:linear-gradient(to bottom, #11999e 5%, #11cdd4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#11999e', endColorstr='#11cdd4',GradientType=0);
	background-color:#11999e;
}
.btn:active {
	position:relative;
	top:1px;
}
